@model ne_izlesek_Web_App.Models.MoviesModel.MovieIndexViewModel

@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="sub_page">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>FİLMLER</h2>
            <p>Explore our collection of Movies.</p>
        </div>
        <div class="row" id="movieContainer">
            @if (Model != null && Model.Movies != null && Model.Movies.Any())
            {
                @foreach (var film in Model.Movies.OrderByDescending(f => f.VoteAverage))
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 border-0 shadow mr-3 mb-3">
                            <img src="https://image.tmdb.org/t/p/original/@film.PosterPath" class="card-img-top" alt="@film.Title">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="#" class="open-modal" data-id="@film.Id">@film.Title</a>
                                </h5>
                                <ul class="list-unstyled">
                                    <li><strong>Year:</strong> @film.ReleaseDate</li>
                                    <li><strong>Duration:</strong> @film.Overview min</li>
                                    <li class="movie_rating"><strong>IMDB:</strong> @film.VoteAverage</li>
                                    <li><strong>Genre:</strong> @film.GenreIds</li>
                                    <li><strong>Photo:</strong> <img src="@film.BackdropPath" alt="Director Image" class="img-fluid"></li>
                                </ul>
                                <button class="btn btn-secondary btn-sm btn-open-details" data-id="@film.Id">Details</button>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for each movie -->
                    <div class="modal fade custom-modal" id="detayModal-@film.Id" tabindex="-1" role="dialog" aria-labelledby="detayModalLabel-@film.Id" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content custom-modal-content">
                                <div class="modal-body custom-modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="row">
                                        <div class="col-md-12 col-lg-6 text-center">
                                            <div class="film-poster-container">
                                                <img src="https://image.tmdb.org/t/p/w185/{{@film.PosterPath}}" class="card-img-top" alt="@film.Title">
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6">
                                            <h2 class="modal-title mb-4">@film.Title</h2>
                                            <ul class="list-unstyled custom-list">
                                                <li><strong>Year:</strong> @film.ReleaseDate</li>
                                                <li><strong>Duration:</strong> @film.Overview min</li>
                                                <li class="movie_rating"><strong>IMDB:</strong> @film.VoteAverage</li>
                                                <li><strong>Genre:</strong> @film.GenreIds</li>
                                                <li><strong>Votes:</strong> @film.VoteCount</li>
                                                <li><strong>Director:</strong> @film.BackdropPath</li>
                                                <p>@film.Overview</p>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No movies are available.</p>
            }
        </div>
        <div class="text-center" id="paginationContainer">
            <ul class="pagination">
                @{
                    // Calculate the range of pages to display
                    int startPage = Math.Max(1, Model.CurrentPage - 4);
                    int endPage = Math.Min(Model.TotalPages, startPage + 9);

                    // Adjust the startPage when nearing the end
                    if (endPage - startPage < 9)
                    {
                        startPage = Math.Max(1, endPage - 9);
                    }

                    // Display the "First Page" button
                    if (Model.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link text-black" href="@Url.Action("Movies", new { page = 1 })">&laquo;&laquo;</a>
                        </li>
                    }

                    // Display the "Previous" button
                    if (Model.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link text-black" href="@Url.Action("Movies", new { page = Model.CurrentPage - 1 })">&laquo;</a>
                        </li>
                    }

                    for (int i = startPage; i <= endPage; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="javascript:void(0);" onclick="loadMovies(@i)">@i</a>
                        </li>
                    }

                    // Display the "Next" button
                    if (Model.CurrentPage < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link text-black" href="@Url.Action("Movies", new { page = Model.CurrentPage + 1 })">&raquo;</a>
                        </li>
                    }

                    // Display the "Last Page" button
                    if (Model.CurrentPage < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link text-black" href="@Url.Action("Movies", new { page = Model.TotalPages })">&raquo;&raquo;</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

    <!-- jQuery CDN eklemek için örnek -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>

    <script>
        function loadMovies(page) {
            $.ajax({
                url: '@Url.Action("Movies", "Home")',
                type: 'GET',
                data: { page: page },
                success: function (result) {
                    // Update the movie container
                    $('#movieContainer').html($(result).find('#movieContainer').html());

                    // Update the pagination
                    $('#paginationContainer').html($(result).find('#paginationContainer').html());

                    // Scroll to the top
                    $('html, body').animate({ scrollTop: 0 }, '100');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        // Event delegation for .open-modal and .btn-open-details
        $(document).on('click', '.open-modal', function (e) {
            e.preventDefault();
            var filmId = $(this).data('id');
            openDetayModal(filmId);
        });

        $(document).on('click', '.btn-open-details', function (e) {
            e.preventDefault();
            var filmId = $(this).data('id');
            openDetayModal(filmId);
        });

        function openDetayModal(id) {
            var modalSelector = '#detayModal-' + id;
            $(modalSelector).modal('show');

            // Modal içeriğini güncelledikten sonra kapatma butonlarına etkiyi tekrar aktive et
            $(modalSelector).find('.close').click(function () {
                $(modalSelector).modal('hide');
            });
        }
    </script>
</body>
