@model ne_izlesek_Web_App.Models.MoviesModel.MovieIndexViewModel

@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="sub_page">
    <section class="movies_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>MOVIES</h2>
                <p>Explore our collection of movies.</p>
            </div>
            <div class="row">
                @foreach (var film in Model.Filmler)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 border-0 shadow">
                            <img src="~/images/godfather.jpg" class="card-img-top" alt="@film.NameOfMovie">
                            <div class="card-body">
                                <h5 class="card-title"><a href="@Url.Action("Details", "Movie", new { id = film.Id })">@film.NameOfMovie</a></h5>
                                <ul class="list-unstyled">
                                    <li><strong>Year:</strong> @film.YearOfRelease</li>
                                    <li><strong>Watchtime:</strong> @film.Watchtime</li>
                                    <li class="movie_rating"><strong>Rating:</strong> @film.MovieRating</li>
                                    <li><strong>Genre:</strong> @film.Genre</li>
                                    <li><strong>Votes:</strong> @film.Votes</li>
                                    <li><strong>MetaScore:</strong> @film.Metascore</li>
                                    <li><strong>Gross Collection:</strong> @film.GrossCollection</li>
                                    <li><strong>Director:</strong> @film.Director</li>
                                </ul>
                                <p class="card-text">@film.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</body>
