@model ne_izlesek_Web_App.Models.MoviesModel.SerieIndexViewModel

@{
    ViewData["Title"] = "Series";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="sub_page">
    <section class="movies_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>SERIES</h2>
                <p>Explore our collection of Series.</p>
            </div>
            <div class="row">
                @foreach (var dizi in Model.Diziler)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 border-0 shadow">
                            <img src="~/images/godfather.jpg" class="card-img-top" alt="@dizi.NameOfSerie">
                            <div class="card-body">
                                <h5 class="card-title"><a href="@Url.Action("Details", "Serie", new { id = dizi.Id })">@dizi.NameOfSerie</a></h5>
                                <ul class="list-unstyled">
                                    <li><strong>Year:</strong> @dizi.Years</li>
                                    <li class="movie_rating"><strong>Rating:</strong> @dizi.SerieRating</li>
                                    <li><strong>Genre:</strong> @dizi.Genre</li>
                                    <li><strong>Votes:</strong> @dizi.Votes</li>
                                </ul>
                                <p class="card-text">@dizi.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</body>
